<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;eagle&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout style-name="sn-default-home" size-full="true"> 
   <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-default-home-form-controls default-home" size-full="true" _id="contentPayment" :expand=""> 
    <vaadin-panel size-full="true" :middle="" :center="" :expand=""> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" size-full="true" margin-left="true" margin-right="true"> 
      <vaadin-vertical-layout primary-style-name="v-verticallayout" size-auto="true" :middle="" :center=""> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-default-home-form-header" size-auto="true" :middle="" :center=""> 
        <vaadin-label size-auto="true" plain-text="" :middle="" :center="">
          Eagle Air Uganda 
        </vaadin-label> 
        <vaadin-label size-auto="true" plain-text="" :center="">
          Online Payment Portal 
        </vaadin-label> 
        <vaadin-label style-name="sn-welcome" size-auto="true" plain-text="" :center="">
          Initiate Payment 
        </vaadin-label> 
        <vaadin-label style-name="sn-instructions" size-auto="true" plain-text="" :middle="" :center="">
          Enter booking reference to proceed! 
        </vaadin-label> 
       </vaadin-vertical-layout> 
       <vaadin-vertical-layout size-full="true"> 
        <vaadin-vertical-layout primary-style-name="v-verticallayout" size-auto="true"> 
         <vaadin-form-layout style-name="sn-booking-ref-form" size-auto="true" margin="true"> 
          <vaadin-label size-auto="true" plain-text="">
            Booking Referenceeeeee 
          </vaadin-label> 
          <vaadin-text-field width="94.51%"></vaadin-text-field> 
          <vaadin-horizontal-layout primary-style-name="v-horizontallayout" width-full="true"> 
           <vaadin-button style-name="danger borderless-colored" immediate="true" plain-text="" _id="btnPaymentCancel">
             Cancel 
           </vaadin-button> 
           <vaadin-button style-name="primary b-proceed-space" immediate="true" plain-text="" _id="btnPaymentProceed" :right="">
             Proceed! 
           </vaadin-button> 
          </vaadin-horizontal-layout> 
         </vaadin-form-layout> 
        </vaadin-vertical-layout> 
       </vaadin-vertical-layout> 
      </vaadin-vertical-layout> 
     </vaadin-vertical-layout> 
    </vaadin-panel> 
   </vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>