<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;eagle&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-c-pay sn-c-pay-opt" width="600px" _id="cPay"> 
   <vaadin-vertical-layout primary-style-name="v-verticallayout" _id="cMMRightContent" :center="" :expand=""> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-panel-head sn-panel-head-card sn-panel-head-step-b-ref" width-full="true" margin="true" _id="mmPanelHead2"> 
     <vaadin-label style-name="bold" plain-text="" :expand="">
       Now Processing... Please check your phone for prompts. 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
    <vaadin-panel style-name="sn-mm-panel sn-mm-right-c-panel" _id="mmPanel2" :center="" :expand=""> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-c-right-panel-v" spacing="true" margin="true"> 
      <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-c-ref-form sn-c-form sn-c-booking-details sn-no-border-left" size-auto="true" margin="true" _id="cBookingDetails" :center=""> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-cbd-head" width="259px" margin-top="true" :center=""> 
        <vaadin-label style-name="bold spinner" width="442px" plain-text="" :center=""></vaadin-label> 
        <vaadin-label width-auto="true" height="30px" plain-text="" :center="">
          Processing... 
        </vaadin-label> 
       </vaadin-vertical-layout> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" size-auto="true"> 
        <vaadin-label style-name="bold light tiny sn-bolder" size-auto="true" plain-text="">
          Standby for the payment approval request prompt on your phone with number below: 
        </vaadin-label> 
        <vaadin-horizontal-layout primary-style-name="v-horizontallayout" :center=""> 
         <vaadin-button icon="fonticon://FontAwesome/f095" style-name="icon-only borderless quiet tiny" plain-text=""></vaadin-button> 
         <vaadin-label size-auto="true" plain-text="" :center="">
           0778777875 
         </vaadin-label> 
        </vaadin-horizontal-layout> 
       </vaadin-vertical-layout> 
      </vaadin-vertical-layout> 
     </vaadin-vertical-layout> 
    </vaadin-panel> 
   </vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>