<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;eagle&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-default-home sn-default-home-form-controls default-home" immediate="true" size-full="true" _id="contentHome"> 
   <vaadin-panel size-full="true" :center="" :expand=""> 
    <vaadin-vertical-layout primary-style-name="v-verticallayout"> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" size-auto="true" :center=""> 
      <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-default-home-form-header" size-auto="true" :middle="" :center=""> 
       <vaadin-label size-auto="true" plain-text="" :middle="" :center="">
         Eagle Air Uganda 
       </vaadin-label> 
       <vaadin-label size-auto="true" plain-text="" :center="">
         Online Payment Portal 
       </vaadin-label> 
       <vaadin-label style-name="sn-welcome" size-auto="true" plain-text="" :center="">
         Welcome! 
       </vaadin-label> 
       <vaadin-label style-name="sn-instructions" size-auto="true" plain-text="" :middle="" :center="">
         Click Any Option Below to Procceed! 
       </vaadin-label> 
      </vaadin-vertical-layout> 
      <vaadin-vertical-layout primary-style-name="v-verticallayout" width="255px" :middle="" :center=""> 
       <vaadin-button description="Procceed to register [Disabled]" enabled="false" style-name="primary" width-full="true" plain-text="" _id="btnRegister">
         Register 
       </vaadin-button> 
       <vaadin-button description="Procceed to login [Disable]" enabled="false" style-name="primary" width-full="true" plain-text="" _id="btnLogin">
         Login 
       </vaadin-button> 
       <vaadin-button style-name="primary" immediate="true" width-full="true" plain-text="" _id="btnPayment">
         Payment 
       </vaadin-button> 
      </vaadin-vertical-layout> 
     </vaadin-vertical-layout> 
    </vaadin-vertical-layout> 
   </vaadin-panel> 
  </vaadin-vertical-layout>  
 </body>
</html>