<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;eagle&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout style-name="sn-default-home" size-full="true"> 
   <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-default-home-form-controls default-home" immediate="true" size-full="true" _id="cPayProccessing" :expand=""> 
    <vaadin-panel size-full="true" :middle="" :center="" :expand=""> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="h2" size-full="true" margin-left="true" margin-right="true"> 
      <vaadin-vertical-layout primary-style-name="v-verticallayout" size-auto="true" :middle="" :center=""> 
       <vaadin-vertical-layout visible="false" primary-style-name="v-verticallayout" style-name="sn-default-home-form-header" size-auto="true" _id="topContent2" :middle="" :center=""></vaadin-vertical-layout> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-default-mid-content" size-auto="true" margin-left="true" margin-right="true" _id="midContent2" :center=""> 
        <vaadin-vertical-layout primary-style-name="v-verticallayout" size-auto="true" _id="uiContentHeader2" :center=""> 
         <vaadin-label style-name="h2" size-auto="true" plain-text="" _id="lbPayProccessState" :center="">
           Submitting Details, Please wait... 
         </vaadin-label> 
         <vaadin-label style-name="sn-instructions tiny" width="363px" _id="lbPayProccessStateDesc" :center="">
           Please check the phone with the following number: 
          <b>0778212321</b> to approve transaction. 
         </vaadin-label> 
         <vaadin-label style-name="sn-instructions tiny" width="363px"></vaadin-label> 
        </vaadin-vertical-layout> 
        <vaadin-horizontal-layout primary-style-name="v-horizontallayout" width-full="true" height="29px" _id="uiContent2" :middle="" :center=""> 
         <vaadin-progress-bar style-name="friendly" immediate="true" size-full="true" value="1" _id="barPayProccessState" :middle="" :center="" :expand=""></vaadin-progress-bar> 
        </vaadin-horizontal-layout> 
        <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" width-full="true" height="76px" margin-top="true" _id="uiControls2" :right=""> 
         <vaadin-button style-name="friendly" immediate="true" width-full="true" plain-text="" _id="btnPayProccessingClose" :right="" :expand="">
           Close 
         </vaadin-button> 
        </vaadin-horizontal-layout> 
       </vaadin-vertical-layout> 
      </vaadin-vertical-layout> 
     </vaadin-vertical-layout> 
    </vaadin-panel> 
   </vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>