<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;eagle&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout style-name="sn-default-home" size-auto="true"> 
   <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-c-ads sn-ref" spacing="true" size-auto="true" _id="cAds"> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-inner-cards-c"> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-ad-card sn-left-ad-card sn-ref" width="250px" height="250px" _id="cMobileAd7"> 
      <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-mm-top" width-full="true" _id="cMM18"> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" spacing="true" size-auto="true" margin-top="true" :center=""> 
        <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-op-logo sn-ad-icon sn-ad-mm" width="120px" height="120px" :center=""></vaadin-horizontal-layout> 
        <vaadin-label style-name="large bold" size-auto="true" plain-text="">
          Mobile Money 
        </vaadin-label> 
       </vaadin-vertical-layout> 
      </vaadin-horizontal-layout> 
     </vaadin-vertical-layout> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-ad-card sn-ref" width="250px" height="250px" _id="cCardAd6"> 
      <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-mm-top" width-full="true" _id="cMM19"> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" spacing="true" size-auto="true" margin-top="true" :center=""> 
        <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-op-logo sn-ad-icon sn-ad-bank-card" width="120px" height="120px" :center=""></vaadin-horizontal-layout> 
        <vaadin-label style-name="large bold" size-auto="true" plain-text="">
          Card Advantage 
        </vaadin-label> 
       </vaadin-vertical-layout> 
      </vaadin-horizontal-layout> 
      <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-c-mm-slogan" margin-left="true" margin-right="true" margin-top="true" _id="cMMSlogan18"></vaadin-vertical-layout> 
     </vaadin-vertical-layout> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-ad-card sn-left-ad-card sn-ref <vaadin-vertical-layout primary-style-name=&quot;v-verticallayout&quot; style-name=&quot;sn-ad-card sn-left-ad-card sn-ref sn-last" width="250px" height="250px" _id="cLastCard6"> 
      <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-mm-top" width-full="true" _id="cMM20"> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" spacing="true" size-auto="true" margin-top="true" :center=""> 
        <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-op-logo sn-ad-icon sn-ad-mm" width="120px" height="120px" :center=""></vaadin-horizontal-layout> 
        <vaadin-label style-name="large bold" size-auto="true" plain-text="">
          Mobile Money 
        </vaadin-label> 
       </vaadin-vertical-layout> 
      </vaadin-horizontal-layout> 
     </vaadin-vertical-layout> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-inner-cards-c"> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-ad-card sn-left-ad-card sn-ref" width="250px" height="250px" _id="cMobileAd8"> 
      <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-mm-top" width-full="true" _id="cMM21"> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" spacing="true" size-auto="true" margin-top="true" :center=""> 
        <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-op-logo sn-ad-icon sn-ad-mm" width="120px" height="120px" :center=""></vaadin-horizontal-layout> 
        <vaadin-label style-name="large bold" size-auto="true" plain-text="">
          Mobile Money 
        </vaadin-label> 
       </vaadin-vertical-layout> 
      </vaadin-horizontal-layout> 
     </vaadin-vertical-layout> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-ad-card sn-ref" width="250px" height="250px" _id="cCardAd7"> 
      <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-mm-top" width-full="true" _id="cMM22"> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" spacing="true" size-auto="true" margin-top="true" :center=""> 
        <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-op-logo sn-ad-icon sn-ad-bank-card" width="120px" height="120px" :center=""></vaadin-horizontal-layout> 
        <vaadin-label style-name="large bold" size-auto="true" plain-text="">
          Card Advantage 
        </vaadin-label> 
       </vaadin-vertical-layout> 
      </vaadin-horizontal-layout> 
      <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-c-mm-slogan" margin-left="true" margin-right="true" margin-top="true" _id="cMMSlogan19"></vaadin-vertical-layout> 
     </vaadin-vertical-layout> 
     <vaadin-vertical-layout primary-style-name="v-verticallayout" style-name="sn-ad-card sn-left-ad-card sn-ref <vaadin-vertical-layout primary-style-name=&quot;v-verticallayout&quot; style-name=&quot;sn-ad-card sn-left-ad-card sn-ref sn-last" width="250px" height="250px" _id="cLastCard7"> 
      <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-mm-top" width-full="true" _id="cMM23"> 
       <vaadin-vertical-layout primary-style-name="v-verticallayout" spacing="true" size-auto="true" margin-top="true" :center=""> 
        <vaadin-horizontal-layout primary-style-name="v-horizontallayout" style-name="sn-sel-op-logo sn-ad-icon sn-ad-mm" width="120px" height="120px" :center=""></vaadin-horizontal-layout> 
        <vaadin-label style-name="large bold" size-auto="true" plain-text="">
          Mobile Money 
        </vaadin-label> 
       </vaadin-vertical-layout> 
      </vaadin-horizontal-layout> 
     </vaadin-vertical-layout> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>